<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Goat Project Manager Pro</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>
<!--<header id="login_header" th:insert="${session.user} != null ? ~{header.html::header_div} : ~{}"></header>-->
<body class="index">
    <h1>Goat Project Manager Pro</h1>
    <div th:if="${session.user} == null">
    <div class="btn">
        <a th:href="@{http://localhost:9999/create_team}">
        <button class="button button1">Create Team</button>
        </a>
        <a th:href="@{http://localhost:9999/logout}">
            <button class="button button1">Logout</button>
        </a>
    </div>
    <br>
    <h2>Teams</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Team name</th>
            <!--<th>leader</th>
            <th>project</th>-->
        </tr>
        </thead>
        <tr th:each="team : ${teams}">
            <td th:text="${team.teamName}"></td>
            <!--<td th:text="${team.getTeamLeader().getTeamName()}"></td>
            <td th:text="${team.getProject()} != null ? ${team.getProject().getTeamName()} : '-'"></td>-->
        </tr>
    </table>

    <h2>Projects</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Project name</th>
        </tr>
        </thead>
        <tr th:each="project : ${projects}">
            <td th:text="${project.name}"></td>
        </tr>
    </table>
    </div>

    <div th:if="${session.user} != null" >
        <div class="welcomeText">
            <h1>Welcome!</h1>
            <h2>The most goaty Project manager in the world</h2>
            <h3>Used by no one ever.</h3>
        </div>
        <div class="auth">
        <a th:href="@{http://localhost:9999/login}">
            <button class="button button1">Login</button>
        </a>
        <a th:href="@{http://localhost:9999/registration}">
            <button class="button button1">Register</button>
        </a>
        </div>
    </div>

</body>
</html>