<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new team</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

</head>
<header id="login_header" th:insert="${session.user} != null ? ~{header.html::header_div} : ~{}"></header>
<body>
    <form id="team_form" target="/create_team" method="post">
        <input type="text" name="name" placeholder="teamname">
        <button type="submit">Create team</button>
    </form>
</body>
</html>