<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>
<body>
    <h1>Teams</h1>
    <table>
        <thead>
            <tr>
                <th>team name</th>
                <th>leader</th>
                <th>project</th>
            </tr>
        </thead>
            <tr th:each="team : ${teams}">
                <td th:text="${team.name}"></td>
                <td th:text="${team.getTeamLeader().getName()}"></td>
                <td th:text="${team.getProject().getName()}"></td>
            </tr>
    </table>
</body>
</html>